.btn-game {
    background-color: #ffffff;
    color: #e5dc15;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 15px;
    padding: 5px;
    border: 2px solid #e5dc15;
    border-radius: 5px;
    box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    width: 90px;
    height: 80px;
    cursor: pointer;
    position: relative;
    top: 0;
  }
  .disabled .btn-game {
    cursor: default;
  }
  .disabled .btn-game:hover {
    top: 0;
    background: #ffffff;
    color: #e5dc15;
    box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 0.4);
  }
  
  .btn-game.disabled {
    cursor: default;
  }
  .btn-game.disabled:hover {
    top: 0;
    background: #ffffff;
    color: #e5dc15;
    box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 0.4);
  }
  
  .btn-game:hover {
    background-color: #e5dc15;
    color: #0e80b0;
    top: 4px;
    box-shadow: 0 8px #c2bb11, 0 14px rgba(0, 0, 0, 0.4);
  }
  .btn-game:active {
    top: 8px;
    box-shadow: 0 4px #c2bb11, 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(78,137,174, 0.5);
    padding: 25px;
    width: fit-content;
    margin: 1rem auto 1rem auto;
    box-shadow: 0 0 15px 5px #ccc;
    border-radius: 10px;
    /* text-align: center; */
    border: 2px solid grey;
}
  .game-info {
    margin: 15px;
    color: #ffffff;
  }
  
  .board > div {
    display: flex;
  }

  /* check line-height in main styles*/

  .board button {
    line-height: 0;
  }